* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

**::after, **::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 11px;
}

img {
  border-radius: 10px;
}



#topbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(23, 117, 169);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 3px;
  gap: 20px;
}
#topbar .topbar-search-input {
  padding: 5px;
  width: 40%;
  height: 70%;
  border-radius: 5px;
  background-color: rgb(40, 149, 193);
  color: white;
}
#topbar .topbar-search-input::-moz-placeholder {
  color: white;
}
#topbar .topbar-search-input:-ms-input-placeholder {
  color: white;
}
#topbar .topbar-search-input::placeholder {
  color: white;
}
#topbar .topbar-left {
  position: relative;
  justify-content: flex-end;
  margin-left: 100px;
}

.topbar-click {
  z-index: 1;
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  bottom: -140px;
  background-color: whitesmoke;
}
.topbar-click ul {
  list-style-type: none;
}
.topbar-click .topbar-click-body {
  padding: 0 10px;
}
.topbar-click .topbar-click-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#home {
  max-height: 100vh;
  overflow: hidden;
}

#channel-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  align-items: flex-start;
  background-color: rgba(173, 216, 230, 0.6);
}
#channel-container .channel-top {
  position: fixed;
  height: 45px;
  border: 1px solid darkgray;
  width: 88%;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#channel-container .channel-top *:hover {
  background-color: whitesmoke;
}
#channel-container .message-container {
  margin-top: 100px;
  padding: 10px;
  width: 100%;
}
#channel-container .post-message-container {
  background-color: rgba(173, 216, 230, 0.1);
  padding: 20px;
  position: fixed;
  margin-left: 20px;
  bottom: 20px;
  width: 100%;
}

#sidebar {
  display: flex;
  padding: 20px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  width: 15%;
  background-color: rgb(40, 149, 193);
}
#sidebar h3 > * {
  color: rgba(0, 0, 0, 0.8);
}
#sidebar .sidebar-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sidebar .expand-channels {
  position: relative;
  display: flex;
  padding: 0 5px;
  flex-direction: column;
  justify-content: center;
}

.no-stretch-image {
  object-fit: cover;
}

.hover-darker:hover {
  background-color: rgb(23, 117, 169);
}

.flex-items {
  display: flex;
}

#canvass {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}
#canvass h1 {
  color: white;
}

#profile {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  z-index: 1;
  background-color: white;
  border: 1px solid darkgray;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#profile .top-gap {
  gap: 100px;
}
#profile .profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 5px;
  gap: 25px;
}
#profile p {
  color: blue;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#profile .profile-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
}
#profile .profile-section {
  padding: 10px;
}
#profile .profile-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 5px;
  justify-content: space-between;
}

#message {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#message:hover {
  background-color: whitesmoke;
}
#message .message-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  color: blue;
}
#message .message-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-message-bottom {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  width: 100%;
  gap: 40px;
  border-top: 1px dotted whitesmoke;
}
.post-message-bottom .box-icon {
  border-radius: 50%;
  padding: 2px;
  background-color: lightgray;
  width: 25px;
  height: 25px;
}
.post-message-bottom .box-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-message-bottom .submit-message {
  margin: 0 auto;
  border-left: 1px solid darkgray;
  outline: 1px dotted whitesmoke;
  outline-offset: 4px;
  padding: 2px;
}
.post-message-bottom .submit-message:hover {
  cursor: pointer;
}

.hover-request {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  opacity: 0.9;
  gap: 5px;
  right: -100px;
}
.hover-request .hover-request-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgrey;
}
.hover-request .hover-request-footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.hover-request .hover-request-footer .hover-request-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-request .hover-request-footer .hover-request-footer-button button {
  padding: 2px;
  width: 80px;
  font-size: 9px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
  border: none;
  border-radius: 3px;
}
.hover-request .hover-request-footer .hover-request-footer-button .accept {
  background-color: green;
}
.hover-request .hover-request-footer .hover-request-footer-button .decline {
  background-color: red;
}

.center-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: wheat;
  min-height: 100vh;
  background-color: rgb(40, 149, 193);
  -webkit-animation: background-form infinite ease-in-out 20s;
          animation: background-form infinite ease-in-out 20s;
}

@-webkit-keyframes background-form {
  0%, 100% {
    background-color: rgb(40, 149, 193);
  }
  50% {
    background-color: rgb(23, 117, 169);
  }
}

@keyframes background-form {
  0%, 100% {
    background-color: rgb(40, 149, 193);
  }
  50% {
    background-color: rgb(23, 117, 169);
  }
}
#login .login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/a8/0c/07/a80c07903c2065a4ef1a59c963daec70.jpg");
}
#login form {
  opacity: 0.9;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  padding: 50px 90px;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  box-shadow: 5px 5px 5px darkgray, -5px -5px 5px darkgray;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#login form h2 {
  color: darkgrey;
  font-size: 40px;
  margin-bottom: 20px;
}
#login form input {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: lightgray;
  box-shadow: 0 2px 2px black;
  border-radius: 10px;
}
#login form #but {
  opacity: 1;
  margin: 10px 20px;
  height: 30px;
  width: 50%;
  margin-left: 30%;
  box-shadow: 5px 5px 5px darkgray, -5px -5px 5px darkgray;
  padding: 5px;
  font-weight: 900;
  cursor: pointer;
  background-color: lightsteelblue;
  transition: 0.5;
  letter-spacing: 0.2em;
}
#login form #but:hover {
  box-shadow: inset 5px 5px 5px darkgray, inset -5px -5px 5px darkgray;
  background-color: rgb(47, 123, 222);
  transform: scaleY(1.2);
}/*# sourceMappingURL=index.css.map */