* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

**::after, **::before {
  padding: 0;
  margin: 0;
}

input, textarea {
  border: none;
  border: none;
}

input:focus {
  outline: none;
  background-color: rgb(40, 149, 193);
  border-bottom: 2px solid rgb(23, 117, 169);
}

textarea:focus {
  outline: 2px solid rgb(23, 117, 169);
}

#create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50%;
  gap: 10px;
  padding: 40px;
  color: white;
  font-size: 22px;
  background-color: rgb(40, 149, 193);
}
#create-account h1 {
  border-bottom: 2px solid white;
}
#create-account input, #create-account textarea {
  margin-left: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(40, 149, 193);
  font-size: 18px;
  border-left: 1px solid white;
  transition: 300ms;
}
#create-account input[type=submit] {
  margin-top: 10px;
  background-color: rgb(23, 117, 169);
  width: 25%;
}
#create-account input[type=submit]:hover {
  background-color: darkcyan;
}

#topbar {
  background-color: rgb(23, 117, 169);
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 3px;
  gap: 20px;
}
#topbar .topbar-search-input {
  padding: 5px;
  width: 40%;
  height: 70%;
  border-radius: 5px;
  background-color: rgb(40, 149, 193);
  color: white;
}
#topbar .topbar-search-input::-moz-placeholder {
  color: white;
}
#topbar .topbar-search-input:-ms-input-placeholder {
  color: white;
}
#topbar .topbar-search-input::placeholder {
  color: white;
}
#topbar .topbar-left {
  justify-content: flex-end;
  margin-left: 100px;
}

#home {
  max-height: 100vh;
  overflow: hidden;
}

#channel-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  align-items: flex-start;
}
#channel-container .channel-top {
  position: fixed;
  height: 45px;
  border: 1px solid darkgray;
  width: 100%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  gap: 1200px;
}
#channel-container .message-container {
  margin-top: 100px;
  padding: 10px;
}
#channel-container .post-message-container {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#sidebar {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
  min-height: 100vh;
  width: 15%;
  background-color: rgb(40, 149, 193);
}
#sidebar .sidebar-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sidebar .expand-channels {
  display: flex;
  padding: 0 5px;
  flex-direction: column;
  justify-content: center;
}

.flex-items {
  display: flex;
}

#message {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
#message .message-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  color: blue;
}
#message .message-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-message-bottom {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  width: 100%;
  gap: 40px;
}
.post-message-bottom .box-icon {
  border-radius: 50%;
  padding: 2px;
  background-color: lightgray;
  width: 25px;
  height: 25px;
}
.post-message-bottom .box-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-message-bottom .submit-message {
  margin: 0 auto;
}
.post-message-bottom .submit-message:hover {
  cursor: pointer;
}

.center-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: wheat;
  min-height: 100vh;
  background-color: rgb(40, 149, 193);
  -webkit-animation: background-form infinite ease-in-out 20s;
          animation: background-form infinite ease-in-out 20s;
}

@-webkit-keyframes background-form {
  0%, 100% {
    background-color: rgb(40, 149, 193);
  }
  50% {
    background-color: rgb(23, 117, 169);
  }
}

@keyframes background-form {
  0%, 100% {
    background-color: rgb(40, 149, 193);
  }
  50% {
    background-color: rgb(23, 117, 169);
  }
}
#topbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/a8/0c/07/a80c07903c2065a4ef1a59c963daec70.jpg");
}
#login form {
  opacity: 0.9;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  padding: 50px 90px;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  box-shadow: 5px 5px 5px darkgray, -5px -5px 5px darkgray;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#login form h2 {
  color: darkgrey;
  font-size: 40px;
  margin-bottom: 20px;
}
#login form input {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: lightgray;
  box-shadow: 0 2px 2px black;
  border-radius: 10px;
}
#login form #but {
  opacity: 1;
  margin: 10px 20px;
  height: 30px;
  width: 50%;
  margin-left: 30%;
  box-shadow: 5px 5px 5px darkgray, -5px -5px 5px darkgray;
  padding: 5px;
  font-weight: 900;
  cursor: pointer;
  background-color: lightsteelblue;
  transition: 0.5;
  letter-spacing: 0.2em;
}
#login form #but:hover {
  box-shadow: inset 5px 5px 5px darkgray, inset -5px -5px 5px darkgray;
  background-color: rgb(47, 123, 222);
  transform: scaleY(1.2);
}/*# sourceMappingURL=index.css.map */